@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #333333;
  --secondary-color: #1aab9b;
  --hover-color: #0a8e7f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
}
.layout-style {
  color: #333333;
  background-color: #ffffff;
}
.menu-item {
  color: #333333;
  letter-spacing: 0.3px;
  font-size: 18px;
  display: inline;
}
.menu-item:hover {
  color: var(--secondary-color);
}

.call-to-action {
  color: var(--secondary-color);
}

.play-vid:hover {
  color: var(--hover-color);
}

.link-item {
  color: var(--secondary-color);
}
.link-item:hover {
  color: #10685e;
}
li {
  margin-bottom: 10px;
}
li > a {
  color: var(--primary-color);
}
li > a:hover {
  color: var(--hover-color);
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 15px;
}
/* dropdown */

/* Kiểu của Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  /* padding: 16px; */
  font-size: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

/* Vùng chứa <div> - cần thiết để định vị nội dung thả xuống */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (ẩn bởi mặc định) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  z-index: 1;
  font-size: 18px;
}

/* Liên kết nằm trong dropdown */
.dropdown-content a {
  color: black;
  padding: 2px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  /* background-color: #f1f1f1; */
  border-radius: 12px;
  color: var(--hover-color);
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 12px;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
